USE [master]
GO
/****** Object:  Database [Sklep_db]    Script Date: 31.01.2024 23:01:51 ******/
CREATE DATABASE [Sklep_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NPT-Na_Potrzeby_Testów_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NPT-Na_Potrzeby_Testów.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NPT-Na_Potrzeby_Testów_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NPT-Na_Potrzeby_Testów.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sklep_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sklep_db]
GO
/****** Object:  Table [dbo].[adresy_dostawy]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adresy_dostawy](
	[id_adres_dostawy] [int] IDENTITY(1,1) NOT NULL,
	[wojewodztwo_id_wojewodztwo] [int] NOT NULL,
	[ulica] [varchar](100) NOT NULL,
	[numer_budynku] [varchar](5) NOT NULL,
	[kod_pocztowy] [varchar](10) NULL,
	[miejscowosc] [varchar](100) NOT NULL,
	[numer_lokalu] [varchar](5) NULL,
 CONSTRAINT [adresy_dostawy_pk] PRIMARY KEY CLUSTERED 
(
	[id_adres_dostawy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategorie]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategorie](
	[id_kategorii] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_kategorii] [varchar](100) NOT NULL,
 CONSTRAINT [kategorie_pk] PRIMARY KEY CLUSTERED 
(
	[id_kategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klient]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klient](
	[id_klienta] [int] IDENTITY(1,1) NOT NULL,
	[nazwisko] [varchar](255) NOT NULL,
	[imie] [varchar](255) NOT NULL,
	[adres_email] [varchar](100) NOT NULL,
	[numer_telefonu] [varchar](15) NULL,
	[nip] [varchar](15) NULL,
	[nazwa_firmy] [varchar](100) NULL,
 CONSTRAINT [klient_pk] PRIMARY KEY CLUSTERED 
(
	[id_klienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kody_rabatowe]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kody_rabatowe](
	[id_kodu_rabatowego] [int] IDENTITY(1,1) NOT NULL,
	[kod_rabatowy] [varchar](20) NOT NULL,
	[data_waznosci] [date] NOT NULL,
	[kwota_rabatu] [float] NOT NULL,
 CONSTRAINT [kody_rabatowe_pk] PRIMARY KEY CLUSTERED 
(
	[id_kodu_rabatowego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[konwersacje]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[konwersacje](
	[id_konwersacji] [int] IDENTITY(1,1) NOT NULL,
	[klient_id_klienta] [int] NOT NULL,
	[pracownicy_id_pracownika] [int] NOT NULL,
	[tresc] [varchar](255) NOT NULL,
	[data] [date] NOT NULL,
 CONSTRAINT [konwersacje_pk] PRIMARY KEY CLUSTERED 
(
	[id_konwersacji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listy_zyczen]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listy_zyczen](
	[id_listy_zyczen] [int] IDENTITY(1,1) NOT NULL,
	[klient_id_klienta] [int] NOT NULL,
	[nazwa_listy_zyczen] [varchar](50) NOT NULL,
 CONSTRAINT [listy_zyczen_pk] PRIMARY KEY CLUSTERED 
(
	[id_listy_zyczen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oceny]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oceny](
	[id_oceny] [int] IDENTITY(1,1) NOT NULL,
	[produkty_id_produktu] [int] NOT NULL,
	[klient_id_klienta] [int] NOT NULL,
	[data_wystawienia] [date] NOT NULL,
	[opis] [varchar](255) NULL,
 CONSTRAINT [oceny_pk] PRIMARY KEY CLUSTERED 
(
	[id_oceny] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[podkategorie]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[podkategorie](
	[id_podkategorii] [int] IDENTITY(1,1) NOT NULL,
	[kategorie_id_kategorii] [int] NOT NULL,
	[nazwa_podkategorii] [varchar](50) NULL,
 CONSTRAINT [podkategorie_pk] PRIMARY KEY CLUSTERED 
(
	[id_podkategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pozycje_listy]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pozycje_listy](
	[produkty_id_produktu] [int] NOT NULL,
	[listy_zyczen_id_listy_zyczen] [int] NOT NULL,
	[ilosc] [int] NOT NULL,
	[laczna_cena] [float] NULL,
 CONSTRAINT [pozycje_listy_pk] PRIMARY KEY CLUSTERED 
(
	[produkty_id_produktu] ASC,
	[listy_zyczen_id_listy_zyczen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pozycje_zamowienia]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pozycje_zamowienia](
	[zamowienia_id_zamowienia] [int] NOT NULL,
	[produkty_id_produktu] [int] NOT NULL,
	[cena] [float] NOT NULL,
	[ilosc] [int] NOT NULL,
 CONSTRAINT [pozycje_zamowienia_pk] PRIMARY KEY CLUSTERED 
(
	[zamowienia_id_zamowienia] ASC,
	[produkty_id_produktu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pracownicy]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pracownicy](
	[id_pracownika] [int] IDENTITY(1,1) NOT NULL,
	[nazwisko] [varchar](50) NOT NULL,
	[imie] [varchar](50) NOT NULL,
	[data_zatrudnienia] [date] NOT NULL,
 CONSTRAINT [pracownicy_pk] PRIMARY KEY CLUSTERED 
(
	[id_pracownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkty]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkty](
	[id_produktu] [int] IDENTITY(1,1) NOT NULL,
	[podkategorie_id_podkategorii] [int] NULL,
	[nazwa_produktu] [varchar](150) NOT NULL,
	[cena_jednostkowa] [float] NOT NULL,
	[stan_magazynowy] [int] NOT NULL,
	[opis] [varchar](255) NULL,
 CONSTRAINT [produkty_pk] PRIMARY KEY CLUSTERED 
(
	[id_produktu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promocje]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promocje](
	[id_promocji] [int] IDENTITY(1,1) NOT NULL,
	[produkty_id_produktu] [int] NOT NULL,
	[nazwa_promocji] [varchar](150) NOT NULL,
	[cena_promocyjna] [float] NOT NULL,
	[opis_promocji] [varchar](255) NULL,
 CONSTRAINT [promocje_pk] PRIMARY KEY CLUSTERED 
(
	[id_promocji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promocje_zamowienia]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promocje_zamowienia](
	[zamowienia_id_zamowienia] [int] NOT NULL,
	[promocje_id_promocji] [int] NOT NULL,
	[data_zarejestrowania] [date] NULL,
 CONSTRAINT [promocje_zamowienia_pk] PRIMARY KEY CLUSTERED 
(
	[zamowienia_id_zamowienia] ASC,
	[promocje_id_promocji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uzycia_kodow]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uzycia_kodow](
	[id_uzycia_kodu_rabatowego] [int] IDENTITY(1,1) NOT NULL,
	[klient_id_klienta] [int] NOT NULL,
	[kody_rabatowe_id_kodu_rabatowego] [int] NOT NULL,
	[data_uzycia] [date] NULL,
	[zamowienia_id_zamowienia] [int] NULL,
 CONSTRAINT [uzycia_kodow_pk] PRIMARY KEY CLUSTERED 
(
	[id_uzycia_kodu_rabatowego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wojewodztwo]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wojewodztwo](
	[id_wojewodztwo] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_wojewodztwa] [varchar](100) NOT NULL,
 CONSTRAINT [wojewodztwo_pk] PRIMARY KEY CLUSTERED 
(
	[id_wojewodztwo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zam_dostawcy]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zam_dostawcy](
	[id_zam_dostawcy] [int] IDENTITY(1,1) NOT NULL,
	[dostawca] [varchar](100) NOT NULL,
	[opis] [varchar](255) NULL,
 CONSTRAINT [zam_dostawcy_pk] PRIMARY KEY CLUSTERED 
(
	[id_zam_dostawcy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zam_platnosci]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zam_platnosci](
	[id_zam_platnosci] [int] IDENTITY(1,1) NOT NULL,
	[metoda_platnosci] [varchar](50) NOT NULL,
 CONSTRAINT [zam_platnosci_pk] PRIMARY KEY CLUSTERED 
(
	[id_zam_platnosci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zam_statusy]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zam_statusy](
	[id_zam_statusy] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_statusu] [varchar](50) NOT NULL,
 CONSTRAINT [zam_statusy_pk] PRIMARY KEY CLUSTERED 
(
	[id_zam_statusy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zamowienia]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zamowienia](
	[id_zamowienia] [int] IDENTITY(1,1) NOT NULL,
	[klient_id_klienta] [int] NOT NULL,
	[zam_statusy_id_zam_statusy] [int] NOT NULL,
	[zam_platnosci_id_zam_platnosci] [int] NOT NULL,
	[zam_dostawcy_id_zam_dostawcy] [int] NOT NULL,
	[adresy_dostawy_id_adres_dostawy] [int] NULL,
	[data_zamowienia] [date] NOT NULL,
	[data_dostawy] [date] NULL,
	[data_platnosci] [date] NULL,
	[kwota_dostawy] [float] NULL,
	[kwota_zamowienia] [float] NULL,
	[id_listy_zyczen] [int] NULL,
 CONSTRAINT [zamowienia_pk] PRIMARY KEY CLUSTERED 
(
	[id_zamowienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zwroty]    Script Date: 31.01.2024 23:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zwroty](
	[id_zwrotu] [int] IDENTITY(1,1) NOT NULL,
	[pozycje_zamowienia_zamowienia_id_zamowienia] [int] NOT NULL,
	[pozycje_zamowienia_produkty_id_produktu] [int] NOT NULL,
	[data_zwrotu] [date] NOT NULL,
	[opis] [varchar](255) NOT NULL,
 CONSTRAINT [zwroty_pk] PRIMARY KEY CLUSTERED 
(
	[id_zwrotu] ASC,
	[pozycje_zamowienia_zamowienia_id_zamowienia] ASC,
	[pozycje_zamowienia_produkty_id_produktu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adresy_dostawy]  WITH CHECK ADD  CONSTRAINT [adresy_dostawy_wojewodztwo_fk] FOREIGN KEY([wojewodztwo_id_wojewodztwo])
REFERENCES [dbo].[wojewodztwo] ([id_wojewodztwo])
GO
ALTER TABLE [dbo].[adresy_dostawy] CHECK CONSTRAINT [adresy_dostawy_wojewodztwo_fk]
GO
ALTER TABLE [dbo].[konwersacje]  WITH CHECK ADD  CONSTRAINT [konwersacje_klient_fk] FOREIGN KEY([klient_id_klienta])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[konwersacje] CHECK CONSTRAINT [konwersacje_klient_fk]
GO
ALTER TABLE [dbo].[konwersacje]  WITH CHECK ADD  CONSTRAINT [konwersacje_pracownicy_fk] FOREIGN KEY([pracownicy_id_pracownika])
REFERENCES [dbo].[pracownicy] ([id_pracownika])
GO
ALTER TABLE [dbo].[konwersacje] CHECK CONSTRAINT [konwersacje_pracownicy_fk]
GO
ALTER TABLE [dbo].[listy_zyczen]  WITH CHECK ADD  CONSTRAINT [listy_zyczen_klient_fk] FOREIGN KEY([klient_id_klienta])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[listy_zyczen] CHECK CONSTRAINT [listy_zyczen_klient_fk]
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [oceny_klient_fk] FOREIGN KEY([klient_id_klienta])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [oceny_klient_fk]
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [oceny_produkty_fk] FOREIGN KEY([produkty_id_produktu])
REFERENCES [dbo].[produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [oceny_produkty_fk]
GO
ALTER TABLE [dbo].[podkategorie]  WITH CHECK ADD  CONSTRAINT [podkategorie_kategorie_fk] FOREIGN KEY([kategorie_id_kategorii])
REFERENCES [dbo].[kategorie] ([id_kategorii])
GO
ALTER TABLE [dbo].[podkategorie] CHECK CONSTRAINT [podkategorie_kategorie_fk]
GO
ALTER TABLE [dbo].[pozycje_listy]  WITH CHECK ADD  CONSTRAINT [pozycje_listy_listy_zyczen_fk] FOREIGN KEY([listy_zyczen_id_listy_zyczen])
REFERENCES [dbo].[listy_zyczen] ([id_listy_zyczen])
GO
ALTER TABLE [dbo].[pozycje_listy] CHECK CONSTRAINT [pozycje_listy_listy_zyczen_fk]
GO
ALTER TABLE [dbo].[pozycje_listy]  WITH CHECK ADD  CONSTRAINT [pozycje_listy_produkty_fk] FOREIGN KEY([produkty_id_produktu])
REFERENCES [dbo].[produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[pozycje_listy] CHECK CONSTRAINT [pozycje_listy_produkty_fk]
GO
ALTER TABLE [dbo].[pozycje_zamowienia]  WITH CHECK ADD  CONSTRAINT [pozycje_zamowienia_produkty_fk] FOREIGN KEY([produkty_id_produktu])
REFERENCES [dbo].[produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[pozycje_zamowienia] CHECK CONSTRAINT [pozycje_zamowienia_produkty_fk]
GO
ALTER TABLE [dbo].[pozycje_zamowienia]  WITH CHECK ADD  CONSTRAINT [pozycje_zamowienia_zamowienia_fk] FOREIGN KEY([zamowienia_id_zamowienia])
REFERENCES [dbo].[zamowienia] ([id_zamowienia])
GO
ALTER TABLE [dbo].[pozycje_zamowienia] CHECK CONSTRAINT [pozycje_zamowienia_zamowienia_fk]
GO
ALTER TABLE [dbo].[produkty]  WITH CHECK ADD  CONSTRAINT [produkty_podkategorie_fk] FOREIGN KEY([podkategorie_id_podkategorii])
REFERENCES [dbo].[podkategorie] ([id_podkategorii])
GO
ALTER TABLE [dbo].[produkty] CHECK CONSTRAINT [produkty_podkategorie_fk]
GO
ALTER TABLE [dbo].[promocje]  WITH CHECK ADD  CONSTRAINT [promocje_produkty_fk] FOREIGN KEY([produkty_id_produktu])
REFERENCES [dbo].[produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[promocje] CHECK CONSTRAINT [promocje_produkty_fk]
GO
ALTER TABLE [dbo].[promocje_zamowienia]  WITH CHECK ADD  CONSTRAINT [promocje_zamowienia_promocje_fk] FOREIGN KEY([promocje_id_promocji])
REFERENCES [dbo].[promocje] ([id_promocji])
GO
ALTER TABLE [dbo].[promocje_zamowienia] CHECK CONSTRAINT [promocje_zamowienia_promocje_fk]
GO
ALTER TABLE [dbo].[promocje_zamowienia]  WITH CHECK ADD  CONSTRAINT [promocje_zamowienia_zamowienia_fk] FOREIGN KEY([zamowienia_id_zamowienia])
REFERENCES [dbo].[zamowienia] ([id_zamowienia])
GO
ALTER TABLE [dbo].[promocje_zamowienia] CHECK CONSTRAINT [promocje_zamowienia_zamowienia_fk]
GO
ALTER TABLE [dbo].[uzycia_kodow]  WITH CHECK ADD  CONSTRAINT [uzycia_kodow_klient_fk] FOREIGN KEY([klient_id_klienta])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[uzycia_kodow] CHECK CONSTRAINT [uzycia_kodow_klient_fk]
GO
ALTER TABLE [dbo].[uzycia_kodow]  WITH CHECK ADD  CONSTRAINT [uzycia_kodow_kody_rabatowe_fk] FOREIGN KEY([kody_rabatowe_id_kodu_rabatowego])
REFERENCES [dbo].[kody_rabatowe] ([id_kodu_rabatowego])
GO
ALTER TABLE [dbo].[uzycia_kodow] CHECK CONSTRAINT [uzycia_kodow_kody_rabatowe_fk]
GO
ALTER TABLE [dbo].[uzycia_kodow]  WITH CHECK ADD  CONSTRAINT [zamowienia_uzycia_kodow_fk] FOREIGN KEY([zamowienia_id_zamowienia])
REFERENCES [dbo].[zamowienia] ([id_zamowienia])
GO
ALTER TABLE [dbo].[uzycia_kodow] CHECK CONSTRAINT [zamowienia_uzycia_kodow_fk]
GO
ALTER TABLE [dbo].[zamowienia]  WITH CHECK ADD  CONSTRAINT [zamowienia_adresy_dostawy_fk] FOREIGN KEY([adresy_dostawy_id_adres_dostawy])
REFERENCES [dbo].[adresy_dostawy] ([id_adres_dostawy])
GO
ALTER TABLE [dbo].[zamowienia] CHECK CONSTRAINT [zamowienia_adresy_dostawy_fk]
GO
ALTER TABLE [dbo].[zamowienia]  WITH CHECK ADD  CONSTRAINT [zamowienia_klient_fk] FOREIGN KEY([klient_id_klienta])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[zamowienia] CHECK CONSTRAINT [zamowienia_klient_fk]
GO
ALTER TABLE [dbo].[zamowienia]  WITH CHECK ADD  CONSTRAINT [zamowienia_zam_dostawcy_fk] FOREIGN KEY([zam_dostawcy_id_zam_dostawcy])
REFERENCES [dbo].[zam_dostawcy] ([id_zam_dostawcy])
GO
ALTER TABLE [dbo].[zamowienia] CHECK CONSTRAINT [zamowienia_zam_dostawcy_fk]
GO
ALTER TABLE [dbo].[zamowienia]  WITH CHECK ADD  CONSTRAINT [zamowienia_zam_platnosci_fk] FOREIGN KEY([zam_platnosci_id_zam_platnosci])
REFERENCES [dbo].[zam_platnosci] ([id_zam_platnosci])
GO
ALTER TABLE [dbo].[zamowienia] CHECK CONSTRAINT [zamowienia_zam_platnosci_fk]
GO
ALTER TABLE [dbo].[zamowienia]  WITH CHECK ADD  CONSTRAINT [zamowienia_zam_statusy_fk] FOREIGN KEY([zam_statusy_id_zam_statusy])
REFERENCES [dbo].[zam_statusy] ([id_zam_statusy])
GO
ALTER TABLE [dbo].[zamowienia] CHECK CONSTRAINT [zamowienia_zam_statusy_fk]
GO
ALTER TABLE [dbo].[zwroty]  WITH CHECK ADD  CONSTRAINT [zwroty_pozycje_zamowienia_fk] FOREIGN KEY([pozycje_zamowienia_zamowienia_id_zamowienia], [pozycje_zamowienia_produkty_id_produktu])
REFERENCES [dbo].[pozycje_zamowienia] ([zamowienia_id_zamowienia], [produkty_id_produktu])
GO
ALTER TABLE [dbo].[zwroty] CHECK CONSTRAINT [zwroty_pozycje_zamowienia_fk]
GO
USE [master]
GO
